<div>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header collapsedHeight="90px" expandedHeight="90px">
                <mat-panel-title>
                    <img class="logo" src="assets/img/levelLogo/sunnyBeach.png">
                </mat-panel-title>
                <mat-panel-description>
                    <img class="worldImg" src="assets/img/orb.png"> {{totalOrbs}}
                    <img class="worldImg" src="assets/img/gem.png"> {{totalGems}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div id="wrapper">
                <div id="wrapped" class="click-to-top" style="padding-right: 20px;">
                    <img id="sunnyBeachSpirits" class="orb" src="assets/img/assets/spirit.gif"
                        (click)="completeSpirits('sunnyBeachSpirits', $event)"
                        (contextmenu)="completeSpirits('sunnyBeachSpirits', $event)">
                    <span>{{numEnemies}} Spirits</span>
                </div>
                <div id="wrapped" class="click-to-top" style="padding-right: 20px;">
                    <img id="turtleMedallion" class="orb" src="assets/img/talismans/sunnyBeach.png"
                        (click)="getTalisman('turtleMedallion', $event)"
                        (contextmenu)="getTalisman('turtleMedallion', $event)">
                    <span>Turtle Medallion</span>
                </div>
                <div id="wrapped" class="click-to-top" style="padding-right: 20px;">
                    <img id="sunnyBeachExitPortal" class="orb" src="assets/img/assets/portal.png"
                        (click)="exitThroughPortal('sunnyBeachExitPortal', $event)"
                        (contextmenu)="exitThroughPortal('sunnyBeachExitPortal', $event)">
                    <span>Exit Portal</span>
                </div>
            </div>
            <div id="wrapper">
                <div id="wrapped" class="click-to-top" style="padding-right: 20px;">
                    <img id="sunnyBeachStandOnPortal" class="orb" src="assets/img/assets/stand.png"
                        (click)="standOnPortal('sunnyBeachStandOnPortal', $event)"
                        (contextmenu)="standOnPortal('sunnyBeachStandOnPortal', $event)">
                    <span>Stand On Portal</span>
                </div>
                <div id="wrapped" class="click-to-top" style="padding-right: 20px;">
                    <img id="sunnyBeachPowerup" class="orb" src="assets/img/assets/superflame.png"
                        (click)="usePowerup('sunnyBeachPowerup', $event)"
                        (contextmenu)="usePowerup('sunnyBeachPowerup', $event)">
                    <span *ngIf="powerup != null">{{powerup.type}}: {{powerup.limit}} enemies</span>
                </div>
            </div>
            <div id="wrapper">
                <div id="wrapped" class="click-to-top" style="padding-right: 20px;">
                    <img id="sbStrongChest" class="orb" src="assets/img/assets/strongChest.png"
                        (click)="breakStrongChest('sbStrongChest')"
                        (contextmenu)="removeStrongChest($event, 'sbStrongChest')">
                    {{strongChests}}
                    <span>Break Strong Chest</span>
                </div>
            </div>
            <div id="wrapper">
                <div id="wrapped" class="click-to-top">
                    <img id="blastingBoxes" class="orb" src="assets/img/orb.png" (click)="completeBlastingBoxes($event)"
                        (contextmenu)="completeBlastingBoxes($event)">
                    <span>Blasting Boxes</span>
                </div>
                <div id="wrapped" class="click-to-top">
                    <img id="turtleSoup1" class="orb" src="assets/img/orb.png" (click)="completeTurtleSoup1($event)"
                        (contextmenu)="completeTurtleSoup1($event)">
                    <span>Turtle Soup 1</span>
                </div>
                <div id="wrapped" class="click-to-top">
                    <img id="turtleSoup2" class="orb" src="assets/img/orb.png" (click)="completeTurtleSoup2($event)"
                        (contextmenu)="completeTurtleSoup2($event)">
                    <span>Turtle Soup 2</span>
                </div>
                <div id="wrapped" class="click-to-top">
                    <img class="orb not-opaque" src="assets/img/gem.png">
                </div>
                <div id="wrapped" class="click-to-top">
                    <input paceholder="Add gems" [(ngModel)]="addedGems">
                </div>
                <div id="wrapped" class="click-to-top">
                    <button (click)="collectGems(addedGems)">Add</button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>