<div class="container">
  <div class="sidebar">
    <app-totals (addOrbs)="onAddOrbs($event)" (addGems)="onAddGems($event)" (addSpirits)="onAddSpirits($event)"
      (addTalisman)="onAddTalisman($event)" (addExit)="onAddExit($event)" (addMoneyBags)="onAddMoneyBags($event)"
      (addPinkGem)="onAddPinkGems($event)" (addPortalStoodOn)="onStandOnPortal($event)"
      (addPowerup)="onAddPowerup($event)" (addStrongChest)="onAddStrongChest($event)"
      (addMysteryJar)="onAddMysteryJar($event)" (addSkillPoint)="onAddSkillPoint($event)"
      (addFireworksBottle)="onAddFireworksBottle($event)" (addRocket)="onAddRocket($event)"
      (addHeadbashChest)="onAddHeadbashChest($event)" (addSpecialEvent)="onAddSpecialEvent($event)"
      (addEnteredOOB)="onAddEnteredOOB($event)" (addButterflyJar)="onAddButterflyJar($event)"
      (addZoe)="onAddZoe($event)">
    </app-totals>
  </div>
  <div class="main">
    <app-main [tick]="tick" [orbs]=orbs [gems]=gems [spirits]=spirits [talismans]=talismans [exits]=exits
      [moneyBags]=moneyBags [pinkGems]=pinkGems [portalStoodOn]=portalStoodOn [powerup]=powerup
      [strongChest]=strongChest [mysteryJar]=mysteryJar [skillPoint]=skillPoint [fireworksBottle]=fireworksBottle
      [rocket]=rocket [headbashChest]=headbashChest [specialEvent]=specialEvent [enteredOOB]=enteredOOB
      [butterflyJar]=butterflyJar [zoes]=zoes></app-main>
  </div>
</div>