<app-sf-world (addOrbs)="onAddOrbs($event)" (addGems)="onAddGems($event)" (addSpirits)="onAddSpirits($event)"
    (addTalisman)="onAddTalisman($event)" (addExit)="onAddExit($event)" (addMoneyBags)="onAddMoneyBags($event)"
    (addPinkGem)="onAddPinkGem($event)" (addPortalStoodOn)="onStandOnPortal($event)" (addPowerup)="onAddPowerup($event)"
    (addStrongChest)="onAddStrongChest($event)" (addMysteryJar)="onAddMysteryJar($event)"
    (addSkillPoint)="onAddSkillPoint($event)" (addFireworksBottle)="onAddFireworksBottle($event)"
    (addRocket)="onAddRocket($event)" (addHeadbashChest)="onAddHeadbashChest($event)"
    (addSpecialEvent)="onAddSpecialEvent($event)" (addEnteredOOB)="onAddEnteredOOB($event)"
    (addButterflyJar)="onAddButterflyJar($event)" (addZoe)="onAddZoe($event)">
</app-sf-world>
<app-ap-world (addOrbs)="onAddOrbs($event)" (addGems)="onAddGems($event)" (addSpirits)="onAddSpirits($event)"
    (addTalisman)="onAddTalisman($event)" (addExit)="onAddExit($event)" (addMoneyBags)="onAddMoneyBags($event)"
    (addPinkGem)="onAddPinkGem($event)" (addPortalStoodOn)="onStandOnPortal($event)" (addPowerup)="onAddPowerup($event)"
    (addStrongChest)="onAddStrongChest($event)" (addMysteryJar)="onAddMysteryJar($event)"
    (addSkillPoint)="onAddSkillPoint($event)" (addFireworksBottle)="onAddFireworksBottle($event)"
    (addRocket)="onAddRocket($event)" (addHeadbashChest)="onAddHeadbashChest($event)"
    (addSpecialEvent)="onAddSpecialEvent($event)" (addEnteredOOB)="onAddEnteredOOB($event)"
    (addButterflyJar)="onAddButterflyJar($event)"></app-ap-world>
<app-wt-world (addOrbs)="onAddOrbs($event)" (addGems)="onAddGems($event)" (addSpirits)="onAddSpirits($event)"
    (addTalisman)="onAddTalisman($event)" (addExit)="onAddExit($event)" (addMoneyBags)="onAddMoneyBags($event)"
    (addPinkGem)="onAddPinkGem($event)" (addPortalStoodOn)="onStandOnPortal($event)" (addPowerup)="onAddPowerup($event)"
    (addStrongChest)="onAddStrongChest($event)" (addMysteryJar)="onAddMysteryJar($event)"
    (addSkillPoint)="onAddSkillPoint($event)" (addFireworksBottle)="onAddFireworksBottle($event)"
    (addRocket)="onAddRocket($event)" (addHeadbashChest)="onAddHeadbashChest($event)"
    (addSpecialEvent)="onAddSpecialEvent($event)" (addEnteredOOB)="onAddEnteredOOB($event)"
    (addButterflyJar)="onAddButterflyJar($event)"></app-wt-world>