div.click-to-top span {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
  }
  
  div.click-to-top:hover span {
    display: block;
  }
  
  #wrapper {
      overflow: hidden;
  }
  #wrapped {
      float:left;
  }